.partners.section
  ._wrap.wrap
    h2._title Наши партнеры
    .advantages__devider.-nomargin
    ._container
      ._item
        img(src="img/energo.png", alt="partner")
      ._item
        img(src="img/rlk.png", alt="partner")
      ._item
        img(src="img/rks.png", alt="partner")
      ._item
        img(src="img/rks-lombard.webp", alt="partner")                