.partners {
  background-color: $dark-bg;
  padding: 90px 0;
  @media (max-width: 479px) {
    padding: 30px 0;
  }
  &__wrap {
    // justify-content: center;
    align-items: center;
  }
  &__title {
    margin-bottom: 23px;
    font-size: 43px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.86px;
    color: $txt-color;
    @media (max-width: 949px) {
      font-size: 38px;
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
    @media (max-width: 479px) {
      font-size: 25px;
      line-height: 34px;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 281px;
    height: 190px;
    background-color: transparent;
    background-image: url('./img/part-back.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__pagination {
    display: none;
    width: 100%;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    @media (max-width: 1200px) {
      display: flex;
    }

  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-bottom: 3px solid #6AA925; 
    background-image: linear-gradient(to top, #6ab717 0%, #a3d252 100%);
    box-shadow: 1px 6px 13px rgba(125, 200, 30, 0.53);
    transition: 0.2s;
    &:hover {
      box-shadow: 0px 3px 6px rgba(125, 200, 30, 0.9);
     }
     &:active {
       box-shadow: none;
       border: none;
     }
  }
}
// .swiper-slide {
//   width: 281px;
// }