.icon {
  display: inline-block;

  &-hamburger {
    width: 26px;
    height: 32px;
    fill: #7ec920;
  }
  &-mouse {
    width: 17px;
    height: 29px;
    fill: #7ec920;
  }
  &-call {
    width: 20px;
    height: 20px;
    fill: #e8ebef;
  }
  &-man {
    width: 16px;
    height: 20px;
    fill: #e8ebef;
  }
  &-checked {
    width: 9px;
    height: 7px;
    fill: #ffffff;
  }
  &-close {
    width: 25px;
    height: 25px;
    fill: #7ec920;
  }
  &-left {
    width: 10px;
    height: 19px;
    fill: #ffffff;
  }
  &-right {
    width: 10px;
    height: 19px;
    fill: #ffffff;
  }
  &-logoHands {
    width: 56px;
    height: 59px;
    fill: #7ec920;
  }
  &-logoText {
    width: 140px;
    height: 59px;
    fill: #000000;
  }
  &.mouse {
    background: url('img/icons/mouse.png');
    width: 17px;
    height: 29px;
  }
  &.main-logo {
    background: url('img/icons/main-logo.png');
    width: 56px;
    height: 59px;
  }
  &.phone {
    background: url('img/icons/phone.png');
    width: 21px;
    height: 21px;
  }
  &.placeholder {
    background: url('img/icons/placeholder.png');
    width: 15px;
    height: 21px;
  }
  &.checked {
    background: url('img/icons/checked.png');
    width: 180px;
    height: 180px;
  }
}