// Fonts
$base-font: 'Roboto', sans-serif;
$base-font-size: 16px;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;

$txt-color: #1f1d1d;
$main-theme: #88d23f;
$dark-bg: #f5f7f9;