.advantages.section
  ._wrap.wrap
    h2._title Почему получить заем <br>у нас выгодно и удобно?
    ._devider
    img(src="img/happy-man.png", alt="client")._main-img
    ._images-block
      ._images-item.-m1 
        img(src="img/adv-doc.png", alt="advantages")
        p Вам не нужны <br>справки о доходах
      ._images-item.-m2 
        img(src="img/adv-money.png", alt="advantages")
        p Вы получите деньги <br>в течение 12 часов
      ._images-item.-m3 
        img(src="img/adv-sendclock.jpg", alt="advantages")
        p Досрочное погашение <br> в любой момент и в <br> любых суммах
      ._images-item.-m4 
        img(src="img/adv-sert.jpg", alt="advantages")
        p Оформляем договор займа <br> по законодательству РФ
      ._images-item.-m5 
        img(src="img/adv-clock.png", alt="advantages")
        p Вы получите ответ <br> в течение 3 часов
      ._images-item.-m6 
        img(src="img/adv-pig.jpg", alt="advantages")
        p Не берем комиссий <br> (только вступительный и <br> паевой взнос 300 руб.)