.contacts.section#contact
  ._wrap.wrap
    h2._title Как нас найти
    .advantages__devider.-nomargin
    ._map#map
    footer._footer
      ._footer-company
        +svg('logoHands', 'header-logo')
        +svg('logoText', 'contacts__footer-name')
      ._footer-copyrights Все права защищены (с) 2019
      ._footer-location
        ._footer-icon
          +svg('pin')._footer-placeholder
        ._footer-addres  г.Калининград, <br> ул. Банковская, 12, оф. 5
      ._footer-contacts
        ._footer-icon
          +svg('call2')._footer-phone
        ._footer-content
          a(href="tel:636112") 636-112
    ._info
      a(href="#")._info-txt Реквизиты и правовая информация
      a(href="#")._info-txt.-left Политика конфиденциальности
      button(data-modal="#callback")._info-btn Получить консультацию
