.mainscreen {
  overflow: hidden;
  position: relative;
  height: 825px;
  background-image: url('img/main-bg-build.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 767px) {
    height: 1200px;
  }
  &__wrap {
    position: relative;
    padding-top: 30px;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 214px;
    color: $txt-color;
    @media (max-width: 1099px) {
      margin-top: 185px;
    }
    @media (max-width: 767px) {
      margin-top: 145px;
    }
  }
  &__content-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
    @media (max-width: 949px) {
      font-size: 42px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
    }
    @media (max-width: 479px) {
      font-size: 25px;
      line-height: 55px;
    }
  }
  &__content-txt {
    max-width: 360px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.27px;
    @media (max-width: 479px) {
      margin-top: 18px;
      max-width: 205px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.23px;      
    }
    br {
      &:last-child {
        display: none;
      }
      @media (max-width: 479px) {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
  }
  &__content-btn {
    position: relative;
    margin-top: 35px;
    padding-left: 64px;
    width: 281px;
    height: 76px;
    border-radius: 38px;
    background-image: linear-gradient(to top, #6ab717 0%, #a3d252 100%);
    font-size: 11px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 1.32px;
    color: #fff;
    text-align: left;
    border-bottom: 3px solid #6AA925; 
    transition: 0.2s;
    box-shadow: 1px 6px 13px rgba(125, 200, 30, 0.53);
    &:hover {
      box-shadow: 1px 6px 13px rgba(125, 200, 30, 0.9);
     }
    &:active {
      box-shadow: none;
      border: none;
    }
    &::after {
      content: '';
      position: absolute;
      top: -15px;
      right: 13px;
      height: 81px;
      width: 79px;
      background-image: url('img/money.png');
      background-size: contain;
      background-position: center;
    }
    &_nomargin {
      margin: 0;
    }
  }
  &__content-info-group {
    display: flex;
    margin-top: 90px;
    @media (max-width: 479px) {
      margin-top: 46px;
      flex-direction: column;
    }
  }
  &__content-info-item {
    margin-right: 32px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.27px;
    color: $txt-color;
    span {
      color: $main-theme;
      font-weight: 700;
    }
    @media (max-width: 479px) {
      margin-bottom: 30px;
      margin-left: 10px;
      font-size: 15px;
    }
  }
  &__info {
    position: absolute;
    top: 195px;
    transform: translateX(114%);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 100px;
    padding-top: 40px;
    width: 359px;
    height: 353px;
    background-color: transparent;
    background-image: url('img/rect.png');
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 1099px) {
      top: 165px;
      transform: translateX(97%);
      padding-top: 30px;
    }
    @media (max-width: 949px) {
      padding-left: 82px;
      top: 84px;
      transform: translateX(71%);
      padding-top: 43px;
    }
    @media (max-width: 767px) {
      left: 50%;
      top: 884px;
      transform: translateX(-50%);
    }
    @media (max-width: 767px) {
      top: 979px;
      z-index: 5;
    }
    @media (max-width: 479px) {
      margin-top: 15px;
      top: 920px;
      left: 47%;
    }
  }
  &__info-shadow {
    position: absolute;
    z-index: -1;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 280px;
    background-color: transparent;
    background-image: url('img/rect-shadow.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__info-cash {
    text-align: left;
    max-width: 129px;
    color: $main-theme;
    @media (max-width: 479px) {
      text-align: center;
      margin-left: 40px;
    }
  }
  &__info-action {
    display: none;
    padding-left: 12px;
    @media (max-width: 479px) {
      display: block;
      font-size: 15px;
      line-height: 34px;

    }
  }
  &__info-txt {
    margin-top: 14px;
    max-width: 220px;
    text-align: left;
    font-size: 19px;
    line-height: 28.82px;
    letter-spacing: 0.24px;
    color: $txt-color;
    @media (max-width: 1099px) {
      font-size: 18px;
      max-width: 200px;
    }
    @media (max-width: 949px) {
      max-width: 218px;
    }
    @media (max-width: 479px) {
      text-align: center;
    }
  }
  &__clouds {
    position: absolute;
    top: 453px;
    @media (max-width: 1340px) {
      top: 500px;
    }
    @media (max-width: 1200px) {
      top: 530px;
    }
    @media (max-width: 1099px) {
      top: 560px;
    }
    @media (max-width: 949px) {
      top: 601px;
    }
    @media (max-width: 767px) {
      top: 917px;
      filter: drop-shadow(7px 0px 19px white);
    }
    @media (max-width: 479px) {
      top: 888px;
    }
  }
  &__man {
    position: absolute;
    transform: translateX(15%);
    top: 122px;
    width: 523px;
    min-height: 580px;
    @media (max-width: 1200px) {
      width: 480px;
      min-height: 480px;
      top: 132px;
    }
    @media (max-width: 1099px) {
      width: 430px;
      min-height: 480px;
      top: 205px;
      transform: translateX(26%);
    }
    @media (max-width: 949px) {
      width: 377px;
      min-height: 403px;
      top: 308px;
      transform: translateX(49%);
    }
    @media (max-width: 767px) {
      left: 50%;
      transform: translateX(-50%);
      top: 637px;
      width: 320px;
      min-height: 300px;
    }
    @media (max-width: 479px) {
      width: 308px;
    }
  }
  &__car {
    position: absolute;
    // right: 0;
    transform: translateX(544px);
    top: 442px;
    @media (max-width: 1200px) {
      max-width: 750px;
      transform: translateX(520px);
      top: 460px;
    }
    @media (max-width: 1099px) {
      display: none;
    }
  }
}
