.term.section
  ._wrap.wrap
    ._title Условия предоставления займа
    .advantages__devider.-nomargin
    ._content
      ._item
        ._item-number 01
        ._item-title Вы можете предоставить обеспечение:
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Автотранспорт
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Спецтехника
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Квартира
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Офис
        ._item-note *Принимаем обеспечение от 3-го лица
      ._item
        ._item-number 02
        ._item-title Прописка (или регистрация компании):
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Калининград
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Калининградская область
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Др. регионы (в индивидуальном порядке)
      ._item
        ._item-number 03
        ._item-title Получение займа возможно на:
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Физическое лицо
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Компанию
      ._item
        ._item-number 04
        ._item-title Для вступления в кооператив необходимо уплатить вступительный и
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Для физических лиц – 300 руб
        ._item-para
          ._item-circle
            +svg('checked')
          ._item-name Для юридических лиц – 3 000 руб.
      ._item
        ._item-number 05
        ._item-title Займы предоставляются пайщикам кооператива КПК «РКЦ     
      ._consult
        ._consult-back  
        a(href="tel:+79518914171")._consult-phone +7 (951) 891 41 71
        ._consult-note Бесплатная консультация
        button._consult-btn Получить консультацию