doctype html
html
    include ../elements/head/head
    +head('loan', 'Page description', 'Page keywords')
    body
        
        include ../elements/mainscreen/mainscreen
        include ../elements/advantages/advantages

        script(src="js/libs.min.js")
        script(src="js/custom.js")