doctype html
html
    include ../elements/head/head
    +head('loan', 'Page description', 'Page keywords')
    body
        include ../elements/header/header
        include ../elements/mainscreen/mainscreen
        include ../elements/advantages/advantages
        include ../elements/calculator/calculator
        include ../elements/term/term
        include ../elements/callback/callback
        include ../elements/partners/partners
        include ../elements/news/news
        include ../elements/contacts/contacts
        include ../elements/info/info
        include ../elements/popups/modal
        include ../elements/popups/popup
        include ../elements/popups/article

        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="js/libs.min.js")
        script(src="js/custom.js")