.calc {
  background: url('./img/clouds-free.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #fff;
  &__wrap {
    align-items: center;
    padding-top: 160px;
    padding-bottom: 90px;
    @media (max-width: 949px) {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    @media (max-width: 767px) {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 0;
      width: 100%
    }
    @media (max-width: 479px) {
      padding-left: 15px;
    }
  }
  &__title {
    font-size: 43px;
    font-weight: 700;
    line-height: 56px;
    color: $txt-color;
    @media (max-width: 949px) {
      font-size: 38px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      text-align: center;
    }
    @media (max-width: 479px) {
      font-size: 25px;
      line-height: 34px;
    }
    br {
      display: none; 
      @media (max-width: 479px) {
        display: block;
      }
    }
  }
  &__info {
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.27px;
    color: $txt-color;
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: center;
    }
    @media (max-width: 479px) {
      margin-top: 18px;
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 23px;
    }
    br {
      display: none; 
      @media (max-width: 479px) {
        display: block;
      }
    }
  }
  &__container {
    position: relative;
    width: 90%;
    margin-top: 36px;
    padding-top: 77px;
    padding-right: 110px;
    padding-bottom: 30px;
    padding-left: 100px;
    background-color: $dark-bg;
    &::before {
      position: absolute;
      top: -120px;
      left: -70px;
      content: '';
      width: 324px;
      height: 202px;
      background-image: url('./img/calc.png');
      background-repeat: no-repeat;
      background-size: cover;
      @media (max-width: 1200px) {
        left: -45px;
      }
      @media (max-width: 1099px) {
        width: 195px;
        top: -110px;
        left: -31px;
      }
      @media (max-width: 949px) {
        top: -70px;
        left: -10px;
        width: 210px;
        background-size: contain;
      }
      @media (max-width: 479px) {
        transform: scale(0.8);
        top: -90px;
        left: -50px;
      }
    }
    @media (max-width: 1099px) {
      padding-right: 40px;
      padding-left: 40px;
      width: 98%;
    }
    @media (max-width: 949px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media (max-width: 949px) {
      flex-direction: column;
    }
    @media (max-width: 479px) {
      margin-bottom: 15px;
      padding-left: 10px;
    }
  }
  &__options-item {
    flex-basis: 49%;
    @media (max-width: 949px) {
      flex-basis: 100%;
      margin-left: 20px;
      &:first-child{
        margin-bottom: 60px;
      }
    }
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
  &__options-content {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &__options-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.3px;
    color: $txt-color;
    @media (max-width: 479px) {
      font-size: 17px;
    }
  }
  &__options-output {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 65px;
    margin-left: 12px;
    margin-right: 19px;
    text-align: center;
    border-radius: 33px;
    background-color: #ffffff;
    color: $txt-color;
    font-size: 25px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.38px;
    @media (max-width: 767px) {
      width: 125px;
      height: 55px;
      font-size: 23px;
    }
    @media (max-width: 479px) {
      font-size: 20px;
    }
    &_small {
      width: 112px;
      height: 65px;
      @media (max-width: 767px) {
        width: 85px;
        height: 55px;
        font-size: 23px;
      }
      @media (max-width: 479px) {
        font-size: 20px;
      }
    }

  }
  &__options-input {
    width: 80%;
  }
  &__table, &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-bg;
  }
  &__table {
    width: 100%;
    @media (max-width: 767px) {
      width: 900px;
      align-self: flex-start;
    }
    @media (max-width: 479px) {
      width: 750px;
    }
  }
  &__table-wrapper {
    position: relative;
    width: 90%;
    background-color: $dark-bg;
    @media (max-width: 1099px) {
      width: 98%;
    }
    @media (max-width: 767px) {
      overflow: auto;
      width: 100%;
    }
  }
  &__table-move {
    display: none;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      display: flex;
    }
    p {
      margin: 10px 20px;
      line-height: 27px;
      letter-spacing: 0.24px;
    }
  }
  &__table-move-img {
    flex-shrink: 0;
    width: 27px;
    height: 13px;
    background-image: url('../calculator/img/arrow-right.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__table-title, &__form-title {
    margin-bottom: 28px;
    font-size: 25px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.38px;
    color: $txt-color;
    @media (max-width: 767px) {
      text-align: center;
      font-size: 22px;
    }
  }
  &__table-title {
    @media (max-width: 767px) {
      align-self: flex-start;
      padding-left: 30px;
      font-size: 25px;
    }
  }
  &__form-title {
    br {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }
  }
  &__table-header {
    display: flex;
    justify-content: space-around;
    width: 748px;
    padding: 14px 0;
    border-radius: 21px;
    background-color: #ffffff;
    line-height: 27px;
    letter-spacing: 0.24px;
    color: $txt-color;
    @media (max-width: 949px) {
      width: 95%;
    }
  }
  &__table-index, &__table-value {
    flex-basis: 27%;
    text-align: center;
    &:first-child {
      flex-basis: 19%;
      @media (max-width: 767px) {
        flex-basis: 9%;
      }
    }
  }
  &__table-row {
    display: flex;
    justify-content: space-around;
    width: 748px;
    padding: 20px 0;
    border-bottom: 1px dashed rgba(137, 137, 137, 0.33);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.27px;
    color: $txt-color;
    &:last-child {
      border: none;
    }
    @media (max-width: 949px) {
      width: 95%;
    }
  }
  &__form {
    padding-top: 40px;
    width: 90%;
    @media (max-width: 1099px) {
      width: 98%;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding: 40px 20px 0 20px;
    }
    @media (max-width: 479px) {
      padding: 40px 0 0 0;
    }

  }
  &__form-wrap {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    @media (max-width: 1099px) {
      width: 94%;
    }
    @media (max-width: 949px) {
      flex-direction: column;
    }
  }
  &__form-input {
    position: relative;
    input {
      width: 260px;
      padding-left: 70px;
      height: 76px;
      margin-right: 15px;
      border-radius: 38px;
      background-color: #ffffff;
      line-height: 27px;
      letter-spacing: 0.24px;
      color: #686868;
      @media (max-width: 949px) {
        width: 281px;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
    &_callback {
      input {
        width: 320px;
        margin-right: 0;
        @media (max-width: 479px) {
          width: 265px;
          height: 71px;
        }
      }
      margin-bottom: 17px;
    }
  }
  &__call-icon {
    position: absolute;
    left: 28px;
    top: 26px;
    width: 30px;
    padding-right: 8px;
    border-right: 1px solid #e8ebef;
  }
  &__politics {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 56px 40px 56px 110px;
    color: #848484;
    background-color: $dark-bg;
    @media (max-width: 1099px) {
      width: 98%;
      padding: 56px 40px 56px 30px;
    }
    @media (max-width: 949px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
    @media (max-width: 479px) {
      padding: 56px 18px;
    }
    &_callback {
      flex-direction: column;
      justify-content: center;
      padding: 30px 0 0 0;
      width: 99%;
      .calc__politics-wrapper {
        align-items: center;
        justify-content: center;
      }
      .calc__politics-txt {
        flex-shrink: 0;
        width: 98%;
        margin-bottom: 0;
        margin-left: 4px;
        padding: 0 0 0 13px;
        font-size: 14px;
      }
      .calc__politics-link {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
  &__politics-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 479px) {
      align-items: flex-start;
    }
  }
  &__politics-checkbox {
    flex-shrink: 0;
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 26px;
    height: 26px;
    margin-left: 6px;
    box-shadow: inset 1px 2px 6px 1px rgba(80, 80, 80, 0.14);
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
    @media (max-width: 479px) {
      margin-top: 9px;
    }
  }
  &__politics-txt {
    line-height: 22px;
    letter-spacing: 0.24px;
    padding: 0 0 0 13px;
    font-weight: 100;
    @media (max-width: 479px) {
      padding-right: 4px;
      font-size: 14px;
      margin-bottom: 15px;
      max-width: 207px;
    }
  }
  &__politics-note {
    padding: 20px;
    @media (max-width: 479px) {
      display: block;
      text-align: left;
      font-size: 13px;
      color: #848484;
      line-height: 21.33px;
    }
  }
  &__politics-link {
    font-size: 14px;
    line-height: 21.33px;
    letter-spacing: 0.2px;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-left: 116px;
    cursor: pointer;
    @media (max-width: 1200px) {
      margin-left: 23px;
    }
    @media (max-width: 1099px) {
      margin-left: 70px;
    }
    @media (max-width: 949px) {
      margin-top: 20px;
      margin-left: 10px;
    }
    @media (max-width: 479px) {
      margin-left: 0;
    }
  }
  &__check {
    display: none;
    &:checked {
      +.calc__politics-checkbox {
        background-image: url('../calculator/img/checked.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
      }
    }
  }
}
.rangeslider {
  background: repeating-linear-gradient(135deg, #fff, #fff 10px, #f3faec 10px, #f3faec 20px);
}
.rangeslider__fill {
  background: repeating-linear-gradient(135deg, #88d23f, #88d23f 10px, #94d652 10px, #94d652 20px);
}
.rangeslider--horizontal {
  height: 8px;
  width: 400px;
  border-radius: 4px;
  @media (max-width: 479px) {
    width: 280px;
  }
}
.rangeslider__handle {
  background-color: #88d23f;
  border: 4px solid #ffffff;
  top: -16px !important;
  background-image: none;
  &::before {
    position: absolute;
    transform: rotateZ(90deg);
    top: 9px;
    left: 1px;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('../calculator/img/down-chevron.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &::after {
    position: absolute;
    transform: rotateZ(-90deg);
    top: 0px;
    right: -16px;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('../calculator/img/down-chevron.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.ps__scrollbar-x-rail {
  background-color: #fff !important;
  height: 22px !important;
}
.ps>.ps__scrollbar-x-rail>.ps__scrollbar-x {
  opacity: 1 !important;
  background-color: #88d23f !important;
  width: 63px ;
  height: 19px !important;
  border-radius: 10px !important;
}
.ps__rail-x,
.ps__rail-y {
  opacity: 1 !important;
}