.total-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  // display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.corner {
  position: absolute;
  top: 15px;
  right: 15px;
}
.inner {
  position: absolute;
  top: 70px;
  right: 70px;
}
.thanks {
  position: absolute;
  z-index: 10;
  top: 10%;
  display: none;
  // display: flex;
  flex-direction: column;
  align-items: center;
  width: 456px;
  border-radius: 10px;
  background-color: $dark-bg;
  padding: 90px 0;
  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 27px;
    color: $txt-color;
    margin-bottom: 20px;
  }
  &__txt {
    line-height: 27px;
    letter-spacing: 0.24px;
    color: #686868;
    margin-bottom: 36px;
  }
}
.popup-menu {
  position: absolute;
  z-index: 10;
  top: 10%;
  display: none;
  // display: flex;
  flex-direction: column;
  width: 456px;
  padding: 55px 0;
  padding-left: 70px;
  border-radius: 10px;
  background-color: $dark-bg;
  &__header {
    display: flex;
    align-items: center;  
    margin-bottom: 30px;
  }
  &__name {
    padding-left: 22px;
    max-width: 160px;
    font-size: 14px;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 23px;
    margin-left: 5px;
  }
  &__item-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: 16px;
    background-color: #88d23f;
    border-radius: 50%;
  }
  &__item-name {
    color: $txt-color;
    line-height: 27px;
    letter-spacing: 0.24px;
  }
  &__adress {
    display: flex;
    align-items: center;
    margin-top: 40px;
    line-height: 24px;
    letter-spacing: 0.23px;
    font-size: 15px;
  }
  &__street {
    max-width: 185px;
    margin-top: 14px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    margin-right: 18px;
    box-shadow: 1px 3px 13px rgba(211, 211, 211, 0.11);
    border-radius: 50%;
    background-color: #fff;
  }
  &__callback {
    align-self: flex-start;
    display: flex;
    margin-right: 32px;
    margin-top: 40px;
    a {
      font-size: 20px;
      font-weight: 700;
      margin-top: 18px;
      padding-bottom: 5px;
      letter-spacing: 0.36px;
      margin-bottom: 5px;
    }
    p {
      border-bottom: 1px dashed $main-theme;
      padding-bottom: 5px;
    }
  }
}
.article {
  display: none;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 1041px;
  border-radius: 10px;
  background-color: $dark-bg;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 130px;
  padding-right: 100px;
  &__title {
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0.53px;
    color: $txt-color
  }
  &__img {
    padding: 45px 0;
  }
  &__txt {
    line-height: 24px;
    letter-spacing: 0.24px;
    color: $txt-color;
    margin-bottom: 30px;
  }
  &__pagination {
    display: flex;
    width: 100%;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
  }
  &__numbers {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: $txt-color;
    margin: 0 32px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #6ab717 0%, #a3d252 100%);
  }
}