.news.section#news
  ._wrap.wrap
    h2._title Новости
    .advantages__devider.-nomargin
    ._container
      .swiper-container#news-slider
        .swiper-wrapper
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news1.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news2.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news3.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью 
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news1.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news2.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news3.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью  
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news2.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news3.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button(data-modal="#article").news__card-btn Читать полностью  
    .news__pagination
      button.news__btn.news-prev
        +svg('left')
      button.news__btn.news-next
        +svg('right')    
