.news.section#news
  ._wrap.wrap
    h2._title Новости
    .advantages__devider.-nomargin
    ._container
      .swiper-container#news-slider
        .swiper-wrapper
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news1.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button.news__card-btn Читать полностью
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news2.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button.news__card-btn Читать полностью
          .swiper-slide
            .card-wrap
              .news__card
                .news__card-view
                  img(src="img/news3.png", alt="news").news__card-img
                h3.news__card-title Какие займы мы выдаем
                .news__card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
                button.news__card-btn Читать полностью  
    .news__pagination
      button.news__btn.news-prev
        +svg('left')
      button.news__btn.news-next
        +svg('right')    
  .article__wrapper
    .article
      button.article__close
        +svg('close')
      h2.article__title Какие займы мы выдаем
      img(src="img/pic1.png", alt="about").article__img
      p.article__txt.
        Всем привет! Сегодня размещаю статью-опрос вашего мнения о длинных статьях в интернете.
      p.article__txt.
        С каждым годом пользователи сети Интернет становятся все ленивее и ленивее. Не зря же в 
        сети так популярные всякие глупые короткие видеоролики, фото и просто картинки. Для того 
        чтобы развлечь себя, достаточно просто открыть глаза, не нужно напрягать мозг чтением. 
        Всё, где текста больше, чем 2 предложения, избегается и игнорируется. Я говорю о подрастающем 
        поколении и его отношении к чтению. И намой взгляд это печальное зрелище.
      p.article__txt.
        С одной стороны это логично. Ведь Интернет – это место, где информация постоянно обновляется, 
        каждую секунду появляется что-то новое и интересное, и тратить время на чтение длинной 
        статьи не удобно. С другой же, люди все-таки ленивые существа и читать что-то масштабное 
        им просто лень.
      p.article__txt.
        Единственный, наверное, фактор, который бы все же сподвиг пользователя на чтение длинной 
        статьи – это стиль её написания и внешняя привлекательность для читателя. Что логично как 
        бы, если тебе что-то нравиться ты это делаешь. Понравилась статья – ты её читаешь, не важно, 
        какая она по объему. Однако тут есть ещё один нюанс.
        Важно чтобы длинная статья заинтересовала пользователя с самого начала, буквально с первого 
        абзаца или даже с заголовка. Ведь именно с него пользователь начинает. Если нравиться начало, 
        значит, есть шанс, что читатель все же дойдет до конца вашей статьи, что собственно нам и нужно.
      .article__pagination
        button.article__btn
          +svg('left')
        .article__numbers 2/30
        button.article__btn
          +svg('right')          