.news {
  position: relative;
  padding-top: 100px;
  padding-bottom: 90px;
  @media (max-width: 479px) {
    padding: 70px 0;
  }
  &__wrap {
    align-items: center;
  }
  &__title {
    margin-bottom: 23px;
    font-size: 43px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.86px;
    color: $txt-color;
    @media (max-width: 949px) {
      font-size: 38px;
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
    @media (max-width: 479px) {
      font-size: 25px;
      line-height: 34px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    width: 100%;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 379px;
    padding-bottom: 51px;
    background-color: $dark-bg;
    border-radius: 10px;
    @media (max-width: 1200px) {
      width: 320px;
    }
    @media (max-width: 479px) {
      width: 310px;
    }
  }
  &__card-view {
    align-self: flex-start;
    margin-bottom: 35px;
  }
  &__card-img {
    max-width: 367px;
    @media (max-width: 1200px) {
      width: 315px;
    }
    @media (max-width: 479px) {
      width: 300px;
    }
  }
  &__card-title {
    align-self: flex-start;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.3px;    
    color: $txt-color;
    margin-left: 50px;
    margin-bottom: 28px;
    @media (max-width: 479px) {
      margin-left: 25px;
    }
  }
  &__card-content {
    align-self: flex-start;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: $txt-color;
    margin-left: 50px;
    margin-bottom: 39px;
    max-width: 275px;
    @media (max-width: 479px) {
      margin-left: 25px;
    }
  }
  &__card-btn {
    width: 203px;
    height: 64px;
    border-radius: 31px;
    box-shadow: 1px 6px 13px rgba(125, 200, 30, 0.53);
    background-image: linear-gradient(to top, #6ab717 0%, #a3d252 100%);    
    font-size: 10px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #ffffff;
    transition: 0.2s;
    border-bottom: 3px solid #6AA925; 
    &:hover {
      box-shadow: 1px 6px 13px rgba(125, 200, 30, 0.9);
     }
     &:active {
       box-shadow: none;
       border: none;
     }
  }
  &__pagination {
    display: flex;
    width: 100%;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    // @media (max-width: 1099px) {
    //   display: flex;
    // }

  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #6ab717 0%, #a3d252 100%);
  }
}
.card-wrap {
  display: flex;
  justify-content: center;
}