.news.section
  ._wrap.wrap
    h2._title Новости
    .advantages__devider.-nomargin
    ._container
      ._card
        ._card-view
          img(src="img/news1.png", alt="news")._card-img
        h3._card-title Какие займы мы выдаем
        ._card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
        button._card-btn Читать полностью
      ._card
        ._card-view
          img(src="img/news2.png", alt="news")._card-img
        h3._card-title Какие займы мы выдаем
        ._card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
        button._card-btn Читать полностью
      ._card
        ._card-view
          img(src="img/news3.png", alt="news")._card-img
        h3._card-title Какие займы мы выдаем
        ._card-content Если у вас остались вопросы по подбору займа или вы хотите уточнить условия ...
        button._card-btn Читать полностью                