.info {
  padding-top: 30px;
  padding-bottom: 30px;
  &__wrap {
    padding-right: 250px;
    @media (max-width: 1200px) {
      padding-right: 15px;
    }
  }
  &__content {
    font-size: 14px;
    line-height: 20px;
    color: #848484;
    letter-spacing: 0.21px;    
  }
}