.info.section
  ._wrap.wrap
    ._content.
      Предложения на данном сайте доступны только для пайщиков КПК «РКЦ» на основе
       солидарного несения пайщиками субсидиарной ответственности по обязательствам
        в пределах не внесенной части дополнительного взноса каждого из пайщиков. 
        Для вступления в кооператив необходимо уплатить вступительный и паевой 
        взносы в общем размере: - для физических лиц – 300 руб. - для юридических 
        лиц – 3000 руб.