header {
  position: fixed;
  padding: 7px 0;
  top: 0;
  z-index: 20;
  opacity: 1;
  transition: 0.2s;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.23px;
    color: $txt-color;
    @media (max-width: 949px) {
      align-items: flex-start;
    }
    &__phone-btn {
      display: none;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-color: #7ec920;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 0 0 rgba(125, 200, 30, 0.8);
      animation: pulse 2s infinite;
      cursor: pointer;
      img {
        width: 19px;
        height: 19px;
      }
      @media (max-width: 767px) {
        display: flex;
        margin-left: 40px;
      }
      @media (max-width: 479px) {
        margin-left: 35px;
      }
      &:hover {
        animation: none;
      }
    }

    &__header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      @media (max-width: 1099px) {
        width: 98%;
      }
      @media (max-width: 949px) {
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
      }
      @media (max-width: 479px) {
        width: 80%;
      }
    }
    &__header-company {
      display: flex;
      align-items: center;
      flex-basis: 29%;
      flex-shrink: 0;
      @media (max-width: 1099px) {
        flex-basis: 24%;
      }
      @media (max-width: 949px) {
        margin-bottom: 20px;
        margin-left: -9px;
        flex-basis: auto;
      }
    }

    &__header-name {
      flex-shrink: 0;
      padding-left: 22px;
      max-width: 160px;
      @media (max-width: 479px) {
        max-width: 100px;
        font-size: 13px;
        line-height: 17px;
        padding-left: 5px;
      }
    }
    &__header-icon {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      width: 41px;
      height: 41px;
      margin-right: 18px;
      box-shadow: 1px 3px 13px rgba(211, 211, 211, 0.11);
      border-radius: 50%;
      background-color: #fff;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &__header-contacts {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &__header-location {
      display: flex;
      align-items: center;
    }
    &__header-addres {
      br {
        display: none;
        @media (max-width: 767px) {
          display: block;
        }
      }
      @media (max-width: 479px) {
        font-size: 15px;
        line-height: 24px;
        width: 180px;
      }
    }
    &__header-content {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      margin-right: 32px;
      a {
        font-size: 20px;
        font-weight: 700;
        margin-top: 18px;
        padding-bottom: 5px;
        letter-spacing: 0.36px;
      }
      p {
        border-bottom: 1px dashed $main-theme;
      }
    }
  }
}
.popup-menu {
  overflow: hidden;
  position: absolute;
  z-index: 500;
  top: 0;
  right: -460px;
  display: flex;
  flex-direction: column;
  width: 456px;
  min-height: 100vh;
  padding: 55px 0;
  padding-left: 70px;
  border-radius: 10px;
  background-color: $dark-bg;
  transition: 0.3s;
  &__header {
    display: flex;
    align-items: center;  
    margin-bottom: 75px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
      min-height: auto;
      overflow: auto;
    }
  }
  &__name {
    padding-left: 22px;
    max-width: 160px;
    font-size: 14px;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 23px;
    margin-left: 5px;
  }
  &__item-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: 16px;
    background-color: #88d23f;
    border-radius: 50%;
  }
  &__item-name {
    color: $txt-color;
    line-height: 27px;
    letter-spacing: 0.24px;
  }
  &__adress {
    display: flex;
    align-items: center;
    margin-top: 75px;
    line-height: 24px;
    letter-spacing: 0.23px;
    font-size: 15px;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
  &__street {
    max-width: 185px;
    margin-top: 14px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    margin-right: 18px;
    box-shadow: 1px 3px 13px rgba(211, 211, 211, 0.11);
    border-radius: 50%;
    background-color: #fff;
  }
  &__callback {
    align-self: flex-start;
    display: flex;
    margin-right: 32px;
    margin-top: 40px;
    a {
      font-size: 20px;
      font-weight: 700;
      margin-top: 18px;
      padding-bottom: 5px;
      letter-spacing: 0.36px;
      margin-bottom: 5px;
    }
    p {
      border-bottom: 1px dashed $main-theme;
      padding: 10px 0;
    }
  }
  @media (max-width: 479px) {
    padding-left: 12px;
    width: 100%;
  }
}

.scroll {
  top: -70px;
  opacity: 0;

}
.bg-white {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.13);
  .header__header-icon {
    background-color: #7ec920
  }
  .icon-pin {
    fill: #fff;
  }
  .icon-call2 {
    fill: #fff;
  }
  .green {
    fill: #7ec920;
  }
  @media (max-width: 949px) {
    .header__header-contacts {
      display: none;
    }
    .header__header-location {
      display: none;
    }
    .header__header-company {
      margin-bottom: 0;
    }
  }
}
.show {
  right: 0;
}

.header-menu-btn {
  margin-bottom: 16px;
  @media (max-width: 479px) {
    margin-bottom: 0;
    margin-top: 14px;
  }
}
.header-logo {
  flex-shrink: 0;
  @media (max-width: 479px) {
    transform: scale(0.7);
  }
}
.menu-btn {
  background-color: transparent;
}

.transparent {
  background-color: transparent;
  box-shadow: none;
  .header__header-wrapper {
    opacity: 0;
  }
}
.green {
  fill: #7ec920;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(125, 200, 30, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(125, 200, 30, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(125, 200, 30, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(125, 200, 30, 0.8);
    box-shadow: 0 0 0 0 rgba(125, 200, 30, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(125, 200, 30, 0);
      box-shadow: 0 0 0 10px rgba(125, 200, 30, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(125, 200, 30, 0);
  }
}